<div class="media">
	{{if .File.Thumb}}
	<a class="media-left" href="/src/{{.File.File}}">
		<img class="media-object img-rounded" src="/src/{{.File.Thumb}}" alt="{{.File.Name}}">
	</a>
	{{end}}
	<div class="media-body">
		<h6 class="media-heading">
			{{if .Subject}}<span class="text-capitalize subject">{{.Subject}}</span>{{end}}
			{{if .Name}}<span class="name">{{.Name}}</span>{{end}}
			{{if .Tripcode}}<span class="tripcode">{{.Tripcode}}</span>{{end}}
			{{template "macros/capcode" .User}}
		</h6>
		{{if eq .ParentID 0}}
		<div class="btn-group btn-group-sm">
			{{if eq current "index"}}<a class="btn btn-primary" href="/thread/{{id2url .ID}}">Reply</a>{{end}}
			{{range $tag := .Tags}}
			<a class="btn btn-secondary" href="/tagged/{{$tag.Name}}">{{$tag.Name}}</a>
			{{end}}
		</div>
		{{end}}
		<p class="message">{{.Message}}</p>
		{{range $post := .Replies}}
		{{template "macros/post" $post}}
		{{end}}
	</div>
</div>
