<h1>You have been banned!</h1>
<blockquote>{{.Ban.Reason}}</blockquote>
<p>Your ban was filed on <strong>{{formatTime .Ban.CreatedAt "January _2, 2006"}}</strong> and expires on <strong>{{formatTime .Ban.Expires "January _2, 2006"}}</strong>.
