{{define "title-post"}}{{if .Post.Subject}}{{title .Post.Subject}}{{else}}{{.Config.SiteName}}{{end}}{{end}}
{{template "macros/post-form" .Post}}
{{template "macros/post" dict "User" .User "Post" .Post}}
