{{define "title-register"}}Register{{end}}
<form method="POST">
	<input type="email" name="email" required>
	<input type="email" name="confirmemail" required>
	<input type="password" name="password" required>
	<input type="password" name="confirmpassword" required>
	<input type="submit">
</form>
