{{define "title-register"}}Register{{end}}
<form method="POST">
	<input type="email" name="email">
	<input type="email" name="confirmemail">
	<input type="password" name="password">
	<input type="password" name="confirmpassword">
	<input type="submit">
</form>
