{{define "title-thread"}}{{if .Post.Subject}}{{title .Post.Subject}}{{else}}{{.Config.SiteName}}{{end}}{{end}}
{{template "macros/postform" .Post}}
<div class="media">
	{{template "macros/post" .Post}}
</div>
